version: '3.9'
services:
  auth_api:
    container_name: auth_api_container
    build:
      context: .
    ports:
      - "8080:8080"
    env_file:
      - .env #
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      UseTestDb: "true"
      # ConnectionStrings__AuthDb_test: ${ConnectionStrings__AuthDb_test}
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/health/ping || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 10s
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - auth_api

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
  # e2e_tests:
  #   container_name: e2e_tests_container
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.tests
  #   env_file:
  #     - .env
  #   environment:
  #     INTEGRATION_BASE_URL: http://auth_api:8080
  #     ConnectionURL__AuthDb_test: ${ConnectionURL__AuthDb_test}
  #   depends_on:
  #     auth_api:
  #       condition: service_healthy
  #   working_dir: /src
  #   volumes:
  #     - ./:/src:ro
  #   command: python e2e_tests/test.py