# fly.toml app configuration file generated for fitness-app-auth-api on 2025-11-30T16:50:51+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fitness-app-auth-api'
primary_region = 'waw'


[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 443
    handlers = ["tls", "http2"]

  [[services.ports]]
    port = 80
    handlers = ["http"]

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
