# fly.toml app configuration file generated for fitness-app-auth-api on 2025-11-30T13:59:37Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fitness-app-auth-api'
primary_region = 'fra'


[[services]]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
