# fly.toml app configuration file generated for fitness-app-auth-api on 2025-12-06T18:58:19+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fitness-app-auth-api'
primary_region = 'fra'

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  auto_stop_machines = "stop"
  min_machines_running = 0
  processes = ["app"]

[[metrics]]
  port = 8080
  path = "/metrics"

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1